<nav>
    <ul>
      <li><strong>Phototheque</strong></li>
    </ul>
    <ul>
      <li><a href="/">Photos</a></li>
      <li><a href="/add-image-form">Add Photo</a></li>
      
    </ul>
    <ul>
      <form class="search-form" action="/search" method="get">
        <input type="text" name="keyword" id="keyword" placeholder="Find photo...">
        <input type="submit" value="Search" id="search-button">
      </form>
    </ul>
  </nav>